* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif
}

body {
    position: relative;
}

.scroll-div::-webkit-scrollbar {
    width: 5px;
  }

  .scroll-div::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .scroll-div::-webkit-scrollbar-thumb {
    background: #fca32b; 
    border-radius: 10px;
  }

/* GRID */

.grid-container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 320px auto;
    grid-gap: 1px;
}

.grid-container>div {
    background-color:#f4f4f4;
}

.grid-container1 {
    display: grid;
    grid-template-columns: 67% 33%;
    grid-template-rows: 80px 200px auto;
}

.grid-container1>div {
    background-color: #f4f4f4;
}

.nav {
    grid-column: 1 / 3;
    width: 100%;
}

.side {
    height: 780px;
}

.menu {
    grid-column: 1 / 3;
    height: 80px;
}

.three-card {
    grid-column: 1 / 3;
    width: 100%;
    height: 200px;
}

.profile-card {
    height: 500px;
}

.activity {
    height: 500px;
    display: flex;
    justify-content: center;
 }

/* NAVBAR */

.navbar-main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(bg-image.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    color: white;
    height: 320px;
}

.navbar {
    height: 50px;
    width: 100%;
    position: relative;
    padding-top: 20px;
    display: flex;
}

.icons {
    height: 50px;
    width: 100px;
}

.icon1 {
    position: absolute;
    left: 40px;
    top: 37px;
}

.icon2 {
    position: absolute;
    left: 35px;
    top: 42px;
}

.icon-name {
    position: absolute;
    left: 60px;
    top: 35px;
}

.nav-button {
    font-size: 14px;
    font-weight: 300;
    padding: 6px 10px;
    border-radius: 3px;
    margin: auto 10px;
    text-transform: uppercase;
    margin-left: auto;
    background-color: rgba(252, 252, 252, 0.2);
}

.icon-bell {
    margin: auto 20px;
}
.nav-dot-bell{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #ffa42a;
    position: absolute;
    top:35px;
    right:98px;
}

.image-navbar {
    margin: auto 10px;
    margin-right: 30px;
    border-radius: 5px;
    background-image: url(img1.jpg);
    background-size:35px 35px ;
    height: 35px;
    width: 35px;
}
.person-main-image{
    height: 230px;
    width: 230px;
    background-image: url(img1.jpg);
    background-size:230px 230px;
    position: absolute;
    top: 135px;
    left: 35px;
    border-radius: 8px;
}

.nav-detail {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    padding-top:40px;
}

.person-detail {
    color: white;
    line-height: 1.7;
    height: 170px;
    margin-left: 290px;
    font-weight: 300;
}

.gm {
    font-size: 20px;
    font-weight: 500;
}
.p-title{
    font-size: 13px;
    font-weight: 300;
}

.p-detail {
    font-size: 13px;
    font-weight: 400;
}

.person-graph {
    height: 160px;
    width: 300px;
    margin-left: auto;
    margin-right: 10px;
}
.track {
    fill: none;
    stroke-dashoffset: 0;
    stroke: #859399;
    stroke-width: 5;
}
.progress {
    fill: none;
    stroke: rgb(59, 56, 56);
    stroke-width: 5;
    stroke-dasharray: 251;
    stroke-dashoffset: calc(251 - (251*75) / 100);
    stroke: #ffa42a;
}
.inner{
    fill: #859399;
}

.p-graph {
    height: 135px;
    width: 300px;
    margin-right: 20px;
    float: right;
    /* background-color: aquamarine; */
    border-radius: 5px;
    display: flex;
    background-color:  rgba(252, 252, 252, 0.2);
}

.p-camera {
    height: 30px;
    width: 30px;
    background-color:  rgba(252, 252, 252, 0.2);;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

.icon-camera {
    padding: 5px;
}

.graph-info {
    height: 100%;
    width: 120px;
    position: relative;
    border-radius: 8px 0px 0px 8px;
    margin-right: -13px;
}
.span75{
    position: absolute;
    top: 61px;
    left: 56px;
}

.graph-title {
    width: 180px;
    padding: 26px;
    line-height: 1.3;
}

.complete-button {
    padding: 5px;
    padding-left: 16px;
    width: 75px;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    background-color:#fca32b;
    color: white;
}

.g-t-name {
    font-size: 15px;
    font-weight: 400;
}

.g-t-detail {
    font-size: 12px;
    font-weight: 300;
}

/* SIDEBAR */

.mainside{
    height: 780px;
    width: 300px;
    border-right:2px solid #84828130 ;
}
.oneline{
    width: 100%;
    height: 50px;
}
.abtmyfamily{
    width: 100%;
    height: 380px;
    margin-left: 20px;
}
.aboutme{
    width: 100%;
    height: 350px;
    margin-left: 20px;
}
.border-line{
    width: 80%;
    margin-left: 25px;
    background-color: #848281;
    opacity: 0.2;
    }
.side2-title{
    text-transform: uppercase;
    margin: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #414141;
    font-weight: 500;
}
.amf-name{
    display: flex;
}
.amf-title-image{
    padding-left: 15px;
    margin: 7px;
    text-transform: uppercase;
   }
.amf-title{
    margin-bottom: 20px;
    margin-top: 20px;
    color: #848281;
    font-size: 14px;
    font-weight: 400;
    }
.amf-image{
    display: flex;
    margin-top:20px;
    }
.three-dot{
    margin: 12px 40px;
    height: 30px;
    width: 30px;
    margin-left: auto;
  }
.amf-person-image{
   
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 0px 5px;
    object-fit:cover;
}
.am-detail{
    padding:8px 20px;
    line-height: 1.2;
}

.am-field{
    text-transform: uppercase;
    color: #848281;
    font-size: 12px;
    font-weight: 300;
}
.am-value{
    font-size: 12px;
    font-weight: 400;
    color: #414141;
    margin-top: 3px;
}

/* MENUBAR */

.menu{
    display: flex;
    border-bottom: 2px solid #84828130;
}

.menubar-menu {
    width: 80%;
    height: 80px;
    text-transform: uppercase;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-around;
}



.menu-common{
    color: rgb(132, 130, 129);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    word-wrap: break-word;

}
.menu-common:hover{
    cursor: pointer;
    font-weight: 600;
    color: #414141;
    border-bottom: 5px solid #fca32b ;
}

.menu-common:first-child{
    font-weight: 600;
    color: #414141;
    border-bottom:5px solid #fca32b ;
}

.menu-claims{
    margin-left: auto;
    align-items: center;
    margin-top: 23px;
    margin-right: 30px;
    margin-bottom: 23px;
    border-radius: 5px;
}
.menu-dashboard{
    display: flex;
    align-items: center;
}
.icon-dashboard{
    height: 15px;
    width: 15px;
    padding: 3px;
    padding-right: 8px;
}
.icon-claim{
    height: 15px;
    width: 15px;
    padding: 3px;
    padding-right: 8px;
    margin-top: 10px;
}

.complete-2 {
    padding: 0px 10px;
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color:#5dd7b3;
    color: white;
}

/* THREE CARD */

.tc-main {
    height: 200px;
    width: (100%-15px);
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 15px;
    gap:20px;

}

.tc-box-1 {
    height: 130px;
    width: 265px;
    background: #fff;
    box-shadow: 2px 2px 150px #ededed;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tc-box-num {
    font-size: 65px;
    width: 100px;
    display: flex;
    justify-content: center;
    color: #414141;
    letter-spacing: -5px;
    padding-right: 12px;
    border-right: 1px solid rgba(128, 128, 128, 0.2);
}
.tc-box-div{
    line-height: 0.4;
}
.tc-box-div-title{
    color: rgb(132, 130, 129);
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
    text-transform: uppercase;
}
.tc-image{
    display: flex;
    margin-top:20px;
    margin-left: 20px; 
}
.tc-person-image{
   height: 28px;
   width: 28px;
   border-radius: 50%;
   margin-left: -10px;
   border: 2px solid white;
}
.pers2{
height: 28px;
   width: 28px;
   border-radius: 50%;
   margin-left: -12px;
   background-image: linear-gradient(#5dd7b2b0,#5dd7b298), url(img4.jpg);
 margin-top: 2px;
  background-size: 34px 34px;
  position: relative;
}

.tc-box-2 {
    height: 130px;
    width: 265px;
    background: #fff;
    box-shadow: 2px 2px 150px #ededed;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tc-box-3 {
    height: 130px;
    width: 265px;
    background: #fff;
    box-shadow: 2px 2px 150px #ededed;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tc-text-32{
    position: absolute;
    top: 13px;
    font-size: 13px;
    left:2px;
    color: white;
    
}

/* PROFILE CARD */

.pc-main {
    height: 430px;
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 60px;
    justify-content: space-between;
}

.pc-div-1 {
    height: 130px;
    width: 560px;
    background-color: 	#fff;
    box-shadow: 2px 2px 150px #ededed;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    justify-content: space-evenly;
    gap: 10px;
    margin-right: 30px;;
}

.d-detail {
    display: flex;
    padding: 4px;
    margin: 0;
    font-weight: 300;
    font-size: 12px;
}

.asdfg{
    font-weight: 400;
}

.pc-d-name {
    margin: 3px 6px;
    font-size: 18px;
    color: #414141;
    font-weight: 500;
    text-transform: uppercase;
}

.pc-detail {
    height: 100px;
    font-size: 15px;
    color: #848281;
}

.pc-image-fill-1{
    background-image: url(img1.jpg);
    height: 100px;
    width: 100px;
    border-radius: 8px;
    object-fit: contain;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pc-image-fill-2{
    background-image: url(img2.jpg);
    height: 100px;
    width: 100px;
    border-radius: 8px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.pc-image-fill-3{
    background-image: url(img3.jpg);
    height: 100px;
    width: 100px;
    border-radius: 8px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pc-svg {
    height: 12px;
    width: 12px;
    margin-right: 8px;
}

.pc-d-button {
    background-color: #fca32b;
    color: white;
    display: flex;
    align-items: center;
    width: 80px;
    height: 30px;
    justify-content: center;
    font-size: 13px;
    gap:5px;
    border-radius: 5px;
    
}
.menu-a-d-b{
    font-size: 12px;
    background-color: #5dd7b3;
}
.pc-pay-button{
   margin-top: auto;
   margin-bottom: 20px;
}

.d-detail-float {
    width: 300px;
}

.pc-pay {
    height: 15px;
    width: 15px;
}

/* ACTIVITY */

.ac-main {
    height: 430px;
    width: 265px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    box-shadow: 2px 2px 150px #ededed;
    margin-right: 5px;
}

.ac-activity {
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 140px;
}

.scroll-div{
    overflow: auto;
    position: relative;
    width: auto;
}
.border-line {
    width: 80%;
    margin-left: 15px;
    background-color: #848281;
    opacity: 0.2;
}
.ac-timeline{
    top:12px;
    left:12.5px;
    position: absolute;
    height: 650px;
    color: #848281;
    opacity: 0.1;
}
.ac-part1{
    height: 80px;
    width: 220px;
    display: flex;
    align-items: center;
    margin: 5px 0px;
}
.ac-part1-dot{
    color: #6ca3d7;
    position: relative;
}
.ac-part2-dot{
    position: relative;
      color: #fab235;
  }
  .ac-part3-dot{
    position: relative;
      color: #3ce275;
  }
  .ac-part4-dot{
      position: relative;
      color: #62abef;
  }
  .ac-part5-dot{
    position: relative;
    color: #ef62ce;
}
.ac-part-dot-div1{
    height: 12px;
    width: 12px;
    position: absolute;
    top: 4px;
    left: 6.5px;
    border-radius: 50%;
}
.ac-color1{
    background-color:#6ca3d730;
}

.ac-color2{
    background-color:#fab23530;
}

.ac-color3{
    background-color:#3ce27530;
}

.ac-color4{
    background-color:#62abef30;
}

.ac-color5{
    background-color:#ef62ce30;
}

.ac-dot{
    width:30px;
}
li{
    margin-bottom: 50px;
    margin-left: 10px;
}

#ac-dot-one{
    color: #5d5d5d;
    font-weight: 400;
}
#ac-dot-two{
    font-weight: 300;
    color: #848281;
    font-size: 13px;
}
#ac-dot-three{
    font-weight: 300;
    color: #ababab;
    font-size: 13px;
}